In [1]:
import numpy as np
import pandas as pd
np.random.seed(2)

In [2]:
full_labels = pd.read_csv('raccoon_labels.csv')

In [3]:
full_labels.head()

  filename  width  height   class  xmin  ymin  xmax  ymax
0   50.png   1840     980  Player   864   434   962   550
1   50.png   1840     980  Player     3   153   129   297
2   95.png   1840     980  Player   868   436   984   538
3   95.png   1840     980  Player   991   861  1078   946
4   95.png   1840     980  Player  1106   892  1198   970

In [4]:
grouped = full_labels.groupby('filename')

In [5]:
grouped.apply(lambda x: len(x)).value_counts()

1    148
2     37
3     15
4      2
dtype: int64

### split each file into a group in a list

In [6]:
gb = full_labels.groupby('filename')

In [7]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [8]:
len(grouped_list)

202

In [9]:
train_index = np.random.choice(len(grouped_list), size=160, replace=False)
test_index = np.setdiff1d(list(range(200)), train_index)

In [10]:
len(train_index), len(test_index)

(160, 42)

In [11]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [12]:
len(train), len(test)

(220, 55)

In [13]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)